body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-2,
.answer-3 {
    margin-top: 4px;
}

.form-fibonacci,
.reverse-string {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.see-data {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 2px;
    overflow: auto;
    margin-top: 2px;
}
